{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<div class="w3-container">
<div class="w3-row">
  <div class="w3-col w3-half w3-center">
    <h1>Winter Sports</h1>
    {% for sport in sport_list %}
    <div class="w3-card card-12">
        <div class="w3-display-container w3-text-white">
          <a href="/sportview/?sport={{sport.sport}}"><img src="{{sport.pic.url}}" style="width:100%"></a>
             <div class="w3-display-bottomright w3-container"><h1>{{sport.sport_name}}</h1></div>
        </div>
    </div>
    <br><br>
    {% endfor %}
 </div>
 <div class="w3-col w3-half  w3-center">
    <h1>FEED GOES HERE</h1>
 </div>
</div>
</div>
<!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

{% endblock %}
