<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<body>
<h1 style="text-align: center;"><span style="background-color: #0000ff; color: #ffffff;">The Pub</a></span></h1>
<div id="menu" align="middle" >
<a href="/">HOME</a> |
<a href="/standings/">TEAMS</a> |
<a href="/matchselect/">GAMES</a>|
<a href="/selectsport/">SPORTS</a>|
<a href="/selectschool/">SCHOOL</a>
</div>


{% block content %}{% endblock %}
</body>