{% extends 'base.html' %}

{% block content %}
{% load teamsports_tags %}
{% game_day request.user as result %}
{% if result == True %}
    {% include 'gameday.html' %}
{% endif %}
<div class="w3-container">
    <div id="card" class="w3-card-8 w3-half w3-margin light-gray w3-mobile">
        <header class="w3-container light-highway-blue">
            <h1>Welcome {{ my_profile.first_name }} {{my_profile.last_name}} </h1>
        </header>
        {% if my_profile.pic == "" %}
        <h5>You're good looking. Add a profile picture</h5>
        {% else %}
        <img src={{my_profile.pic.url}} class="w3-left w3-circle w3-image" style="width:50%">
        {% endif %}
        {% if my_profile.team == None %}
        {% else %}
        <h5 class="w3-black">Your team is <a href="{% url 'TeamView' my_profile.team.pk %}">{{my_profile.team}}</a></h5>
        {% endif %}
    <a href="{% url 'EditProfile' %}"><button class="w3-btn-block w3-border w3-highway-blue w3-hover-yellow">Edit Your Profile</button></a>
    <a href="/accounts/password/change"<button class="w3-btn-block w3-border w3-highway-blue w3-hover-yellow">Change your Password</button></a>
    {% if my_profile.team == None %}
        {% else %}
        <br>
        <a href="{% url 'EditTeam' my_profile.team.pk %}"><button class="w3-btn-block w3-border w3-highway-blue w3-hover-yellow">Edit your team</button></a>
    {% endif %}
    </div>
    <div id="card" class="w3-card-8 w3-rest w3-margin w3-mobile">
        <header class="w3-container light-highway-blue">
            <h1>Updates & Options</h1>
        </header>
        {% for news in important_news %}
        <button onclick="myFunction('Demo{{news.pk}}')" class="w3-red w3-border w3-btn-block w3-left-align"><h3>{{news.title}}</h3></button>
            <div id="Demo{{news.pk}}" class="w3-container light-gray w3-hide">
                <h4 class="w3-text-black">{{news.news}}</h4><br>
                <div >
                    <p class="text-gold">By: {{news.reported_by}}<br>
                    {{news.reported_on}}</p>
                </div>
            </div>
         {% endfor %}
        {% for article in newslist %}
        <button onclick="myFunction('Demo{{article.pk}}')" class="lighter-highway-blue w3-border w3-btn-block w3-left-align"><h4>{{article.title}}</h4></button>
            <div id="Demo{{article.pk}}" class="w3-container light-gray w3-hide">
                <p><h5>{{article.news}}</h5></p>
                <div class="light-grey">
                    <p>By: {{article.reported_by}}</p>
                    <p>{{article.reported_on}}</p>
                </div>
            </div>
         {% endfor %}
         <br>
    </div>
</div>
<div class="w3-container">
    <table class="w3-table w3-hoverable w3-responsive w3-striped">
    <thread>
      <tr class="lighter-highway-blue">
                <th>Date</th>
                <th>Opponent</th>
                <th>Result</th>
                <th>Score</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
        </tr>
    </thread>
    <tbody>
{% if user.groups.all.0.name == "Coach" %}
    {% for game in upcoming_team %}
          <tr>
              {% if game.is_disputed is True %}
              <td class="w3-orange">DISPUTED <br> {{game.match_date}}</td>
              {% else %}
              <td>{{game.match_date}}</td>
              {% endif %}
        {% if game.home.team == team.team %}
              <td>VS {{game.away}}</td>
              <td>{{game.home_score}} -- {{game.away_score}}</td>
            {% if game.home_score > game.away_score %}
              <td>Win</td>
            {% elif game.home_score < game.away_score %}
              <td>Loss</td>
            {% elif game.home_score is None %}
             <td>No Score Yet!</td>
            {% else %}
             <td>Tie</td>
            {% endif %}
        {% else %}
            <td>@ {{game.home}}</td>
            <td>{{game.away_score}} -- {{game.home_score}}</td>
            {% if game.away_score > game.home_score %}
            <td>Win</td>
            {% elif game.away_score < game.home_score %}
            <td>Loss</td>
            {% elif game.away_score is None %}
            <td>No Score Yet!</td>
            {% else %}
            <td>Tie</td>
            {% endif %}
        <td class="w3-hide-medium w3-hide-small"><a class="w3-btn w3-hide-medium light-highway-blue w3-border w3-hover-yellow" href="{% url 'ScoreReport' game.match %}">Report</a></td>
        <td class="w3-hide-medium w3-hide-small"><a class="w3-btn w3-highway-blue w3-hide-small w3-hide-medium w3-border w3-hover-yellow" href="{% url 'GameView' game.match %}">See More</a></td>
        <td class="w3-hide-medium w3-hide-small"><a class="w3-btn light-highway-blue w3-hide-small w3-hide-medium w3-border w3-hover-yellow" href="#">Edit</a></td>
        <td class="w3-hide-medium w3-hide-small"><a class="w3-btn w3-highway-blue w3-hide-small w3-hide-medium w3-border w3-hover-yellow" href="{% url 'AddNotes' game.match %}">Add Notes</a></td>
        <td class="w3-hide-medium w3-hide-small"><a class="w3-btn light-highway-blue w3-hide-small w3-hide-medium w3-border w3-hover-yellow" href="{% url 'AddPic' game.match %}">Add Picture</a></td>
		<td class="w3-hide-large w3-bar" style="overflow:auto">
                    <a class=" w3-circle w3-hover-yellow w3-button light-highway-blue" href="{% url 'ScoreReport' game.match %}"><i class="material-icons md-36">note_add</i></a>
                    <a class="w3-circle w3-hover-yellow w3-button gold" href="{% url 'GameView' game.match %}"><i class="material-icons md-36">pageview</i></a>
                    <a class="w3-circle w3-hover-yellow w3-button light-highway-blue" href="#"><i class="material-icons md-36">build</i></a>
                    <a class="w3-circle w3-hover-yellow w3-button gold" href="{% url 'AddNotes' game.match %}"><i class="material-icons md-36">note</i></a>
                    <a class="w3-circle w3-hover-yellow w3-button light-highway-blue" href="{% url 'AddPic' game.match %}"><i class="material-icons w3-hover-yellow md-36">camera_enhance</i></a>
		</td>
        </tr>
    {% endif %}
    {% endfor %}
{% else %}
    {% for game in upcoming %}
    <tr>
        <td>{{game.match}}</td>
        <td>{{game.home}}</td>
        <td>{{game.away}}</td>
        <td>{{game.score}}</td>
        <td><a class="w3-button w3-border highway-blue" href="{% url 'ScoreReport' game.match %}">Report</a></td>
        <td><a class="w3-button w3-border highway-blue" href="{% url 'GameView' game.match %}">See More</a></td>
        <td><a class="w3-button w3-border highway-blue" href="{% url 'AddNotes' game.match %}">Add Notes</a></td>
        <td><a class="w3-button w3-border highway-blue" href="{% url 'AddPic' game.match %}">Add Picture</a></td>
    </tr>
    {% endfor %}
{% endif %}
    </tbody>
    </table>
    </div>
<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
function coachdrop() {
    var x = document.getElementById("menu");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
{% endblock %}

