{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-row-padding">
    <div class="w3-card-8 w3-half">
        <header class="w3-container w3-highway-blue">
            <h1>Create Your Profile</h1>
        </header>
        {% csrf_token %}
        {{ form.non_field_errors }}
       <form  action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper w3-margin">
        {{ form.first_name.errors }}
        <label for="{{ form.first_name.id_for_label }}"><h2>First:</label>
        {{ form.first_name|add_class:"text_input" }}</h2>
    </div>
    <div class="fieldWrapper w3-margin">
        {{ form.last_name.errors }}
        <label for="{{ form.last_name.id_for_label }}"><h2>Last:</h2></label>
        {{ form.last_name|add_class:"text_input" }}
    </div>
    <div class="fieldWrapper w3-margin">
        {{ form.team.errors }}
        <label for="{{ form.team_for_label }}">Your Team:</label>
        {{ form.team }}
    </div>
    <div class="fieldWrapper w3-margin">
            <label for="id_photo" class="w3-button w3-border gold w3-text-black w3-block text-highway-blue w3-xlarge"  onclick="document.getElementById('file').click();">Edit Picture</label>
            <input id="id_photo" name="pic" type="file" required="False" onchange="upload_img(this);" style="display:none;">
    </div>
    <div class="w3-container w3-right">
        <img id="img_id" src="#" alt="your image" style="max-width:100%;max-height:100%" />
    </div>
    <input type="submit" class="w3-button w3-highway-blue w3-border" value="Update" />
    </form>
    </div>
    <div class="w3-card-8 w3-half">
        <header class="w3-container gold">
            <h1>What account do I need?</h1>
        </header>
        <p class="w3-text-highway-blue"><h4>Types of Accounts</h4></p>
        <p class="w3-large"><b>Fan</b></p>
        <p><span class="w3-text-orange w3-large"><b>Fans</b></span> are the default account. Fans are able to <span class="w3-text-orange"><b>post and delete pictures</b></span>. Fans love the game and want to share their team's success.
        <span class="w3-large w3-blue w3-text-orange w3-text-shadow"><b>Sign up? You're a fan!</b></span></p>
        <p class="w3-large"><b>Coach</b></p>
        <p><span class="w3-text-orange w3-large"><b>Coaches</b></span> are reporters connected to a team. They can <span class="w3-text-orange"><b>report scores, add game notes, post and delete pictures</b></span> in addition to <span class="w3-text-orange"><b>managing their team page</b></span>
        Coaches also have special access to our Admin team for any problems. While we would prefer that the actual coach keep the "Coach" account, we welcome responsible student managers.
        If you believe you should have a coach account, please click the "CONTACT" button below</p>
        <p><span class="w3-large"><b>Reporter</b></span></p>
        <p><span class="w3-text-orange w3-large"><b>Reporters</b></span> are fans of the public league. They are reliable reporters, allowed to <span class="w3-text-orange"><b>report scores,
        add game notes, and post pictures</b></span>. </p>
    </div>
</div>
{% endblock %}