{% extends 'base.html' %}

{% block content %}
<div class="w3-container">
    <div class="w3-card w3-half">
        <header class="w3-container w3-blue">
            <p><h1>Editing {{my_team.team}}</h1></p>
            <p><h3>Welcome {{ user.username }}</h3></p>
        </header>
        {% if my_team.pic == "" %}
        <h5>Team pics are so in! Add a Pic!</h5>
        {% else %}
        <img src={{my_team.pic.url}} class="w3-left w3-circle w3-image" style="width:50%">
        {% endif %}
    </div>
    <div class="w3-card w3-half">
    <form class="w3-containter" action="" method="post">{% csrf_token %}
        <div class="w3-container w3-blue">
            <h2>Update your team profile</h2>
        </div>
    {{ form.as_p }}
    <input type="submit" value="Update" />
    <button class="w3-btn w3-small w3-right w3-border w3-red w3-border-black"><a href="{% url 'TeamView' my_team.team %}">Cancel</a></button>
    </form>
    </div>
</div>

{% endblock %}