{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card title blue lighten-2">
                <p class="flow-text">
                    <span class="yellow-text accent-1-text">{{ game.match_date }}</span></p>
	            {% if game.home_score > game.away_score %}
	        	    <p class="flow-text"><h4>{{game.home}}   {{game.home_score}}</h4></p>
	        	    <p class="flow-text"><h4>DEF</h4></p>
		            <p class="flow-text"><h4>{{game.away}}  {{game.away_score}}</h4></p>
            	{% elif game.away_score > game.home_score %}
	        	    <p class="flow-text"><h4>{{game.away}}  {{game.away_score}}</h4></p>
	        	    <p class="flow-text"><h4>DEF</h4></p>
	        	    <p class="flow-text"><h4>{{game.home}}  {{game.home_score}}</h4></p>
            	{% else %}
	               	<p class="flow-text"><h4>{{game.home}}</h4></p>
	            	<p class="flow-text"><h4>VS</h4></p>
	            	<p class="flow-text"><h4>{{game.away}}</h4></p>
            	{% endif %}
            </div>
            <div class="card-content white-text">
                <p><h4 class="white-text flow-text">Game Notes</h4></p>
                {% for notes in report %}
                <p><blockquote>
                {{notes.notes}}
                </blockquote></p>
                <p>Written by - {{ notes.reported_by }} on {{ notes.reported_on }}</p>
                {% endfor %}
            </div>
            <a class="waves-effect waves-light btn red" href="/reportscore/?match={{game.match}}">Report</a>
            <a class="waves-effect waves-light btn blue" href="/addpic/?game={{game.match}}">Add a picture</a>
        </div>
    </div>
    <div class="col s12 m6">
    {% for pic in gamepic %}
        <div class="card">
            <img src="{{pic.photo.thumbnail.400x400}}" />
            <p="flow-text red-text"> Uploaded by {{pic.uploaded_by}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}