{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head_content %}
<style>
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
<meta property="og:title" content="Game Time!" />
<meta property="og:url" content="{{recent.photo.url}}" />
<meta property="og:image" content="{{recent.photo.photo}}" />
<meta property="og:description" content="Check out this picture by {{uploaded_by}}" />
<meta property="og:site_name" content="The Pub Philly" />
</style>
{% endblock %}
{% block content %}

<div class="w3-dropdown-hover">
    <button class="w3-button w3-center w3-border w3-xlarge w3-border-black w3-highway-blue w3-text-highway-blue">PhotoStream</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
            <a class="w3-button light-highway-blue" href="/photostream/A">Recent Photos</a>
            <a class="w3-button light-highway-blue" href="/photostream/B">Today's Photos</a>
            {% if user.is_authenticated %}
            <a class="w3-button gold text-highway-blue" href="{% url 'MyPhotoStream' request.user.pk %}">My Pictures</a>
            {% endif %}
            <button class="w3-button w3-border w3-right w3-padding" onclick="myFunction()">Search by Team</button>
        </div>
</div>
<div id="team" style="display:none">
    <form action= "{% url 'TeamPhotoStream' %}" method="GET">
        {{ form }}
        <input type="submit" value="Submit" />
        {{ form.errors }}
    </form>
</div>
<br><br>
<div class="w3-row w3-container">
{% if request.path == "/photostream/A/" %}
{% for recent in recent_list %}

  <img src="{{recent.photo.thumbnail.200x200}}" class="w3-margin w3-card-8" style="cursor:zoom-in"
  onclick="document.getElementById('modal{{recent.id}}').style.display='block'">

    <div id="modal{{recent.id}}" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom">
            <img src="{{recent.photo.url}}" style="width:100%">
                <div class="light-highway-blue">
                    <h4>By {{recent.uploaded_by}}</h4>
                    <h4>On {{recent.upload_date}}</h4>
      <a href="{% url 'ReportPhoto' recent.id %}"><button class="w3-orange w3-button w3-border">Report</button></a>
            <ul class="share-buttons">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmrsaltz.pythonanywhere.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Facebook.png"></a></li>
             <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fmrsaltz.pythonanywhere.com&text=:Check out my game pic" target="_blank" title="Check out my game pic" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Twitter.png"></a></li>
             <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fmrsaltz.pythonanywhere.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Email.png"></a></li>
            </ul>
        </div>
  </div>
  </div>

  {% endfor %}
 </div>

{% elif request.path == "/photostream/B/" %}
{% for pic in today %}
<div class="light-gray w3-col s8 m4 l3 w3-margin">
  <img src="{{pic.photo.thumbnail.200x200}}" class="w3-margin w3-card-8" style="cursor:zoom-in"
  onclick="document.getElementById('todaymodal{{pic.id}}').style.display='block'">
  <div="w3-container light-gray">
        <h5>By {{recent.uploaded_by}}<br>
        On {{recent.upload_date}}</h5>
    </div>

  <div id="todaymodal{{pic.id}}" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="{{pic.photo.url}}" style="width:100%">
      <div class="w3-black">By {{pic.uploaded_by}}</p>
      <p>On {{pic.upload_date}}</p>
      <a href="{% url 'ReportPhoto' pic.id %}"><button class="w3-orange w3-right">Report</button></a>
            <ul class="share-buttons">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmrsaltz.pythonanywhere.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Facebook.png"></a></li>
             <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fmrsaltz.pythonanywhere.com&text=:Check out my game pic" target="_blank" title="Check out my game pic" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Twitter.png"></a></li>
             <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fmrsaltz.pythonanywhere.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Email.png"></a></li>

        </ul>
        </div>
    </div>
    </div>
</div>
  {% endfor %}

{% else %}
    {% if team == 0 %}
    <h2>Select a Team</h2>
    {% else %}
    <h2 class="text-highway-blue">Photos for {{team}}</h2><br>

    {% for pic in team_photo %}
    <div class="light-gray w3-col s8 m4 l3 w3-margin">
  <img src="{{pic.photo.thumbnail.200x200}}" style="cursor:zoom-in" class="w3-card-8 w3-margin"
  onclick="document.getElementById('todaymodal{{pic.id}}').style.display='block'">
  <div="w3-container light-gray">
        <h5>By {{pic.uploaded_by}}<br>
        On {{pic.upload_date}}</h5>
    </div>

  <div id="todaymodal{{pic.id}}" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="{{pic.photo.url}}" style="width:100%">
      <div class="w3-black">By {{team.uploaded_by}}</p>
      <p>On {{pic.upload_date}}</p>
      <a href="{% url 'ReportPhoto' pic.id %}"><button class="w3-orange w3-right">Report</button></a>
            <ul class="share-buttons">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmrsaltz.pythonanywhere.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Facebook.png"></a></li>
             <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fmrsaltz.pythonanywhere.com&text=:Check out my game pic" target="_blank" title="Check out my game pic" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Twitter.png"></a></li>
             <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fmrsaltz.pythonanywhere.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{STATIC_URL}}/static/img/flat_web_icon_set/Email.png"></a></li>

        </ul>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endif %}
{% endif %}
</div>

<script>
function myFunction() {
    var x = document.getElementById('team');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
{% endblock %}