{% extends 'base.html' %}
{% block content %}
{% load next_game from teamsports_tags %}
<title>{{ school }}</title>
<h1 class="highway-blue-text"> {{ school }} </h1>

{% for team in school_list %}
<div class="w3-row">
<div class="w3-card-8 w3-mobile w3-half w3-border w3-container w3-margin w3-left"  id="card1">
    <a href="{% url 'TeamView' team.team %}"><h2 class="w3-text-white">{{team}}</h2></a>
    {% if team.coach %}
    <h3>Coach: <strong><span class="text-gold">{{team.coach}}</span></strong></h3>
    {% endif %}
    {% if team.pic %}
    <img class="w3-image w3-circle" src={{team.pic.url}}>
    {% else %}
    <img class="w3-image w3-circle" src="/media/sportpics/1922–23_Michigan_Wolverines_men's_basketball_team.jpg" style="width:50%">
    {% endif %}
        <p>Ugly? Ask your coach to add a real team-pic!</p>
</div>
<div class="w3-card-8 w3-container w3-rest w3-margin-top" id="card2" >
        <h3>Record: {{team.win}} - {{team.loss}} - {{team.tie}}</h3>
        <h3>Next game: {{team|next_game}}</h3><br>
</div>
<br>
{% endfor %}
</div>
{% endblock %}