{% extends 'base.html' %}

{% block content %}

<h1>{{ sport_name.sport_name }}</h1>
<table border="3" width="400" height="120" cellpadding="8" cellspacing="8">
<tr>
<th>Team Name</th>
<th>Division</th>
<th>Wins</th>
<th>Losses</th>
<th>Ties</th>
</tr>
<tr>
{% for sport in sport %}
    <p><th><a href="/teamview/?team_name={{ sport.team }}">{{ sport.team_name }}</a></th> <th>{{ sport.division }}</th>  <th>{{ sport.win }} </th> <th>{{ sport.loss }} </th> <th>{{ sport.tie }} </th></p>
</tr>

{% endfor %}
</table>

    <li><a href="/home/">Pick another, ya jabroni</a></li>

{% endblock %}
