{% extends 'base.html' %}

{% block content %}
<div class="w3-container">
        <p><h1>{{team.school}} {{team.sport}}</h1></p>
        <p><h3>{{team.win}} - {{team.loss}} - {{team.tie}}</h3></p>
        {% if team.pic == "" %}
       <p>Hey there, could you add a team picture?</p>
        {% else %}
       <a href="/teamview/?team_name={{team.team}}"><img src={{team.pic.url}} style="width:50%"></a>
        {% endif %}
</div>
<div class="w3-container">
    <table class="w3-table-all w3-hoverable w3-responsive">
    <thead>
      <tr class="w3-light-blue">
                <th>Date</th>
                <th>Opponent</th>
                <th>Result</th>
                <th>Score</th>
                <th></th>
                <th></th>
        </tr>
    </thread>
    {% for game in game_list %}
          <tr>
              <td>{{game.match_date}}</td>
        {% if game.home.team == team.team %}
              <td>VS {{game.away}}</td>
              <td>{{game.home_score}} -- {{game.away_score}}</td>
            {% if game.home_score > game.away_score %}
              <td>Win</td>
            {% elif game.home_score < game.away_score %}
              <td>Loss</td>
             {% elif game.home_score is None %}
             <td>No Score Yet!</td>
             {% else %}
             <td>Tie</td>
             {% endif %}
        {% else %}
            <td>@ {{game.home}}</td>
            <td>{{game.away_score}} -- {{game.home_score}}</td>
            {% if game.away_score > game.home_score %}
            <td>Win</td>
            {% elif game.away_score < game.home_score %}
            <td>Loss</td>
            {% elif game.away_score is None %}
            <td>No Score Yet!</td>
            {% else %}
            <td>Tie</td>
            {% endif %}
        {% endif %}
        <td><a class="w3-btn w3-green" href="/reportscore/?match={{game.match}}">Report</a></td>
        <td><a class="w3-btn w3-blue" href="/gameview/?match={{game.match}}">See More</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
